
doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   article.container
     each istruzione in istruzioni
       div.istruzione
         div.istruzione-image(style=`background: url('/images/${istruzione.imgSrc}') top center no-repeat; background-size: cover;`)
         h2.istruzione-name
         a(href=`/istruzione?id=${istruzione.id}`)
           | #{istruzione.Set Name}
