doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   div.profile
     div.profile-image(style=`background: url('/images/${person.imgSrc}') top center no-repeat; background-size: cover;`)
     div.profile-details
       h1.profile-name
         | #{istruzione.Set Name} 
       p.profile-theme
         | #{istruzione.Set Theme}
       p.profile-number
         | #{person.Set Number}
       a.button.button-twitter(href=`${person.twitter}`)
         | Follow me on Twitter